# Upgrade SQLite manually
pysqlite3-binary>=0.5.2.post3
pysqlite3==0.5.2
pip==24.0
setuptools==68.2.2
wheel==0.42.0

# Essential Libraries
streamlit==1.35.0
pandas==2.1.4
numpy==1.26.4
requests>=2.31.0
python-dotenv==1.0.0

# Machine Learning & Data
scikit-learn>=1.4.1
xgboost==2.0.3
matplotlib>=3.8.2

# Additional Libraries
pygments==2.19.1
mdurl==0.1.2
markdown-it-py==3.0.0
rich==13.9.4
chromadb==0.5.0
selenium==4.21.0
unstructured==0.14.6

# LangChain
langchain==0.2.14
langchain-community==0.2.14
langchain-groq==0.1.9
